@font-face {
  font-family: 'Faune';
  font-style:  normal;
  font-weight: normal;
  src: url("Faune-Text_Regular.ttf");
}
@font-face {
  font-family: 'Faune';
  font-style:  italic;
  font-weight: normal;
  src: url("Faune-Text_Italic.ttf");
}
@font-face {
  font-family: 'Faune';
  font-style:  normal;
  font-weight: bold;
  src: url("Faune-Text_Bold.ttf");
}