:root {
  /* Rebecca */
--base1F: #272438;
--base1Falpha: #27243855;
--bgEditor: #2c1557;
--bgMain: #12032d;

--base00: #292a44;
--base00: #292a44;
--base01: #663399;
--base02: #383a62;
--base03: #666699;
--base04: #a0a0c5;
--base05: #f1eff8;
--base06: #ccccff;
--base07: #53495d;
--base08: #8eaee0;
--base09: #b45bcf;
--base0A: #ae81ff;
--base0B: #978ee0;
--base0C: #a1efe4;
--base0D: #2de0a7;
--base0E: #7aa5ff;
--base0F: #ff79c6;
}

